<div class="flex justify-center items-center h-screen">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col w-4/12" >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" formControlName="email" id="email" type="email" placeholder="Email">
      <div *ngIf="email.invalid && (email.dirty && email.touched)" class="text-error bg-grey-400">Email address is invalid</div>
    </div>
    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" formControlName="password" id="password" type="password" placeholder="******************">
      <div *ngIf="password.invalid && password.touched" class="text-error bg-grey-400">Please enter password</div>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-dark text-blue font-bold py-2 px-4 rounded" type="submit">
        Sign In
      </button>
      <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" routerLink="/signup">
        Sign Up
      </a>
    </div>
  </form>
  </div>
</div>