<div class="flex justify-center items-center h-screen">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col w-4/12" >
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="firstName">
        First Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="firstName" formControlName="firstName" type="text" placeholder="First Name">
      <div *ngIf="firstName.invalid && (firstName.dirty && firstName.touched)" class="text-error bg-grey-400" id="firstNamewarning"> First Name must be minimum 3 characters</div>
    </div>
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="lastName">
        Last Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="lastName" formControlName="lastName" type="text" placeholder="Last Name">
      <div *ngIf="lastName.invalid && (lastName.dirty && lastName.touched)" class="text-error bg-grey-400" id="lastNamewarning">Last Name must be minimum 3 characters</div>
    </div>
    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="email" formControlName="email" type="email" placeholder="example@gmail.com">
      <div *ngIf="email.invalid && (email.dirty && email.touched)" class="text-error bg-grey-400">Email address is invalid</div>
    </div>
    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="password" formControlName="password" type="password" placeholder="******************">
      <div *ngIf="password.invalid && (password.dirty && password.touched)" class="text-error bg-grey-400">Password must be 7 to 15 characters, numeric digits, special character and first character must be a letter</div>
    </div>
    <div class="flex items-center justify-between">
      <button [disabled]="!signupForm.valid" class="bg-blue hover:bg-blue-dark text-blue font-bold py-2 px-4 rounded" type="submit" >
        Sign Up
      </button>
      <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" routerLink="/login">
        Login
      </a>
    </div>
  </form>
  </div>
</div>