<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <a class="inline-block" routerLink="/">DiMo</a>
  <ul class="flex">
    <li class="mr-6">
      <a class="text-white-500 hover:text-blue-800" routerLink="/login">Login</a>
    </li>
    <li class="mr-6">
      <a class="text-white-500 hover:text-blue-800" routerLink="/signup">SignUp</a>
    </li>
    <li class="mr-6">
      <a class="text-white-500 hover:text-blue-800" routerLink="/dashboard">DashBoard</a>
    </li>
  </ul>
</nav>